RewriteEngine On
Redirect 301 http://ellenbrook.github.io/work/ http://ellenbrook.github.io/detroit-web-designer-work
Redirect 301 http://ellenbrook.github.io/resume/ http://ellenbrook.github.io/detroit-web-designer-resume/
Redirect 301 http://ellenbrook.github.io/work/24-grille/ http://ellenbrook.github.io/detroit-web-designer-work
Redirect 301 http://ellenbrook.github.io/work/morning-pages/ http://ellenbrook.github.io/detroit-web-designer-work/morning-pages/
Redirect 301 http://ellenbrook.github.io/work/fuse-martial-arts/ http://erics-mbp:5757/detroit-web-designer-work/fuse-martial-arts/
Redirect 301 http://ellenbrook.github.io/2014/11/01/motivational-web-development-lectures.html http://ellenbrook.github.io/detroit-web-designer-blog/2014/11/01/motivational-web-development-lectures
Redirect 301 http://ellenbrook.github.io/2014/10/29/six-tips-to-optimize-your-web-development-workflow.html http://ellenbrook.github.io/detroit-web-designer-blog/2014/10/29/six-tips-to-optimize-your-web-development-workflow
Redirect 301 http://ellenbrook.github.io/2014/10/05/saddleback-leather-id-wallet-review.html http://ellenbrook.github.io/detroit-web-designer-blog/2014/10/05/saddleback-leather-id-wallet-review
Redirect 301 http://ellenbrook.github.io/2014/09/14/how-to-install-sass.html http://ellenbrook.github.io/detroit-web-designer-blog/2014/09/14/how-to-install-sass
Redirect 301 http://ellenbrook.github.io/2014/09/01/code-kit-you-need-it-trust-me.html http://ellenbrook.github.io/detroit-web-designer-blog/2014/09/01/code-kit-you-need-it-trust-me
Redirect 301 http://ellenbrook.github.io/2014/08/28/I-made-the-move-to-jekyll.html http://ellenbrook.github.io/detroit-web-designer-blog/2014/08/28/I-made-the-move-to-jekyll