.blogList {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-top: 1px solid $textColor;
	cursor: pointer;

	&:hover .blogList-title, &:hover .blogList-subTitle {
		@include transition(0.3s ease-in-out);
		margin-left: 10px;

		a {
			color: $textColor;
		}
	}

	.blogList-title {
		float: left;
		padding: 0;
		border: none;
		text-indent: 0;
		@include transition(margin-left 0.3s ease-out);
	}

	.blogList-subTitle {
		clear: left;
		float: left;
		margin: 0;
		color: $textColor;
		@include transition(margin-left 0.3s ease-out);
		@include adjust-font-size-to(1em);
	}

	.svg {
		width: 40px;
		margin: 25px 0;
		float: right;
	}
	
	@include media($tablet) {
		padding: 0 0 modular-scale($base-font-size, 2, $major-second) 0;
		.svg {
			display: none;
		}
	}
}