.workList {
	@include span-columns(12);
	@include trailer(1.77);
	@include omega();
	position: relative;
	overflow: hidden;

	.left {
		@include span-columns(7);
	}

	.right {
		@include span-columns(5);
	}
}

.work-menu {
	@include span-columns(12);
	@include omega();
	overflow: hidden;
}

.work-menu-dark-background {
	background-color: $textColor;
}


.work-menu-block {
	@include span-columns(4);
	margin-bottom: 2.3%;
	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	
	&:nth-child(3n+3) {
		@include omega();
	}

	&:nth-child(3n+1) {
		clear: left;

		&:nth-last-child(1), &:nth-last-child(1) + div {
			@include span-columns(12);
			overflow: hidden;
			height: 300px;

			img { 
				width: 100%;
				margin-top: -33.5%; 
			}
		}

	&:nth-last-child(2), &:nth-last-child(2) ~ div {
		@include span-columns(6);
		height: 300px;

		img {;
			transform:  scale(1.1);
			width: 100%;
			margin-top: -15%; 
		}
	}

	}

	&:hover img {
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		-webkit-transform: scale(1.1);
		transform:  scale(1.1);
		z-index: 1;
	}

	&:hover .work-menu-content { 
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		background: rgba($textColor, .5);
		transition: all 0.3s ease;
	}

	&:hover .work-menu-header {
		-webkit-transform-style: preserve-3d;
		padding-top: 125px;
		color: rgba($backgroundColor, 1);
		-webkit-transform: scale(1);
		transform:  scale(1);
		transition: all .25s ease-in;
		text-shadow: 1px 1px 2px $textColor;
		-webkit-backface-visibility: hidden;
	}

	&:last-child {
		@include omega();
	}

	img {
		position: relative;
		display: block;
		-webkit-backface-visibility: hidden;
  		-webkit-backface-visibility: hidden;
  		-moz-backface-visibility:    hidden;
  		-ms-backface-visibility:     hidden;
    	backface-visibility:     hidden; 
		-webkit-transform: scale(1);
		transform:  scale(1);
		z-index: 5;
		transition: all 0.5s ease;
	}

	.work-menu-content {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		margin: 0;
		z-index: 10;
		font-family: $headingFont;
		background: rgba($textColor, .0);
		transition: all 0.3s ease;
	}

	.work-menu-header {
		font-family: $logoFont;
		font-weight: 100;
		z-index: 1;
		margin: 0;
		color: rgba($backgroundColor, .0);
		transform:  scaleX(1.25) scaleY(1.25);
		padding-top: 110px;
		width: 100%;
	}

	a {
		@extend .work-menu-header;
	}
}