.workList {
	@include span-columns(12);
	@include trailer(1.77);
	@include omega();
	position: relative;
	overflow: hidden;

	.left {
		@include span-columns(7);

		@include media($tablet) {
			@include span-columns(3);
		}
	}

	.right {
		@include span-columns(5);

		@include media($tablet) {
			@include span-columns(3);
		}
	}
}

@include media($tablet) {
		.workList > div.container {
			display: none;
		}
	}