* { box-sizing: border-box; }

body {
	background: $backgroundColor;
	font-size: 1em;
	font-weight: 100;
	@include media($tablet) {
		padding: 0 10px;	
	}
}

p {
	font-size: $baseFontSize;
	font-weight: 100;
	line-height: modular-scale($baseFontSize, 4, $major-second);
	color: $textColor;
	font-family: $standardFont;

	&:first-of-type {
		margin-top: modular-scale($baseFontSize, 1, $major-second);
	}
	
	@include media($mobile) {
		font-size: modular-scale($baseFontSize, -2, $major-second);

		&:first-of-type {
			margin-top: modular-scale($baseFontSize, -1, $major-second);
		}
	}

}


h1, h2, h3, h4, h5, h6 {
	font-family: $headingFont;
	color: $textColor;
	margin: 0;
}

//Post title, page title, and so on.
h2 {
	text-indent: modular-scale($baseFontSize, -2, $major-second);
	border-left: 10px solid $callToAction;
	font-size: modular-scale($baseFontSize, 6, $major-second);
	line-height: modular-scale($baseFontSize, 6, $major-second);

	@include media($mobile) {
		text-indent: 0;
		border-left: none;
		font-size: modular-scale($baseFontSize, 3, $major-second);
		line-height: modular-scale($baseFontSize, 3, $major-second);
	}
}

h3 {
	margin-top: modular-scale($baseFontSize, 6, $major-second);
	font-family: $standardFont;
	font-weight: 300;
	font-size: modular-scale($baseFontSize, 2, $major-second);
	line-height: modular-scale($baseFontSize, 3, $major-second);

	@include media($mobile) {
		margin-top: modular-scale($baseFontSize, 2, $major-second);
		font-size: $baseFontSize;
		line-height: modular-scale($baseFontSize, 1, $major-second);
	}
}

h4 {
	margin-top: modular-scale($baseFontSize, 1, $major-second);
	font-family: $standardFont;
	font-weight: 600;
	font-size: modular-scale($baseFontSize, 0, $major-second);

	> p:first-child {
		margin-top: modular-scale($baseFontSize, -6, $major-second);
	}

	@include media($mobile) {
		margin-top: modular-scale($baseFontSize, 0, $major-second);
		font-size: $baseFontSize;
		line-height: modular-scale($baseFontSize, 1, $major-second);
	}
}

a {
	color: $callToAction;
	text-decoration: none;

	&:hover {
	color: $textColor;
	}
}

code {
	font-family: monospace,monospace;
	font-size: 1em;
	background-color: $callToAction;
	color: $backgroundColor;
	padding: 0 2px;
}
.container {
	@include outer-container;
}

.highlight {
	color: $textColor;
}

.svg {
	fill: $callToAction;

	&:hover {
		fill: $textColor;
	}
}