* { box-sizing: border-box; }
body {
	background: $backgroundColor;
	font-family: $standardFont;
	font-weight: 100;
	padding-top: 1.77em;

	@include media($tablet) {
		padding: 0 10px;	
	}
}

p {
	@include trailer();
	font-family: $standardFont;
	color: $textColor;

	&:first-child {
		@include leader(.5);
	}
}


h1, h2, h3, h4, h5, h6 {
	font-family: $headingFont;
	color: $callToAction;
	margin: 0;
}

//Post title, page title, and so on.
h2 {
	@include adjust-font-size-to(1.777em);
}

h3 {
	@include leader();
	@include adjust-font-size-to(1.33em);

	&+p {
		@include leader(.5);
	}
}

h4 {
	@include adjust-font-size-to(1em);
	font-weight: bold;
	color: $textColor;
	@include leader(.5);
}

a {
	color: $callToAction;
	text-decoration: none;

	&:hover {
	color: $textColor;
	}
}

code {
	font-family: monospace,monospace;
	font-size: 1em;
	background-color: $callToAction;
	color: $backgroundColor;
	padding: 0 2px;
}

.container {
	@include outer-container;
}

.highlight {
	color: $textColor;
}

.svg {
	fill: $callToAction;

	&:hover {
		fill: $textColor;
	}
}

section, aside {

}