$backgroundColor: #e0e0df;
$textColor: #4b4a4b;
$callToAction: #bf3331;

$headingFont: "bebas-neue",sans-serif;
$standardFont: "museo-sans",sans-serif;

$baseFontSize: 18px;

//standard measurements
$standardMargin: 50px;

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 960px;

//breakpoints
$mobile: new-breakpoint(max-width 480px 3);
$tablet: new-breakpoint(max-width 780px 3);
$computer: new-breakpoint(max-width 960px 12);