@import url(http://fonts.googleapis.com/css?family=Quattrocento:400,700);

$backgroundColor: #fff;
$textColor: #4b4a4b;
$callToAction: #bf3331;
$lightColor: #c6c6c6;

$headingFont: "arimo", sans-serif;
$standardFont: "georgia", serif;
$logoFont: 'museo sans', sans-serif;

// Baseline Height Compass
$base-font-size: 18px;
$base-line-height: 28px;

//standard measurements
$standardMargin: 50px;

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 960px;

//breakpoints
$mobile: new-breakpoint(max-width 480px 3);
$tablet: new-breakpoint(max-width 780px 3);
$computer: new-breakpoint(max-width 960px 12);

@include establish-baseline;