<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="//use.typekit.net/ueg1ygb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico"> 
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body id="top">
  <div class="container">
    <header class="siteHeader">
      <hgroup class="siteHeader-logo">
         <h1 class="logo"><a href="/"><span class="highlight">Eric</span> Ellenbrook</a></h1>
         <h2 class="logo-subtitle">Creating Websites for People Like You</h2>
      </hgroup>
      <nav class="siteHeader-nav">
       <ul class="siteHeader-navList">
        <li><a href="/">About</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/resume">Resume</a></li>
       </ul>
      </nav>
    </header>
  </div>
  <div class="hero"></div>