<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description }}">
  <meta name="google-site-verification" content="32rBxCe3kkPskvZWvbFaztWKjQgumVi55SQEla5MUF0">
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/main.css" />
  <script async src="//www.google-analytics.com/analytics.js"></script>
</head>
<body itemscope itemtype="http://schema.org/WebPage" class="{{ page.type }}">