<aside class="site-aside">

	<h1 class="site-aside-heading" itemprop="headline">Ellenbrook</h1>

	<nav class="site-aside-nav" itemprop="breadcrumb">
		<ul class="site-aside-nav-list">
			<li class="site-aside-nav-list-item"><a href="/">About</a></li>
			<li class="site-aside-nav-list-item"><a href="/detroit-web-designer-work/">Work</a></li>
			<li class="site-aside-nav-list-item"><a href="/detroit-web-designer-blog/">Blog</a></li>
			<li class="site-aside-nav-list-item"><a href="/detroit-web-designer-resume/">Resume</a></li>
		</ul>
	</nav>
	<nav class="site-aside-social">
		<ul>
			<li><a href="http://codepen.io/{{ site.codepen }}/" rel="nofollow" data-no-instant><i class="fa fa-codepen"></i></a></li>
			<li><a href="http://github.com/{{ site.codepen }}" rel="nofollow" data-no-instant><i class="fa fa-github"></i></a></li>
			<li><a href="http://reddit.com/u/{{ site.reddit }}" rel="nofollow" data-no-instant><i class="fa fa-reddit"></i></a></li>
			<li><a href="http://twitter.com/{{ site.twitter }}" rel="nofollow" data-no-instant><i class="fa fa-twitter"></i></a></li>
		</ul>
	</nav>

</aside>
