	<aside class="about-aside">
		<img src="http://www.gravatar.com/avatar/f5189db9d66114f330192be5844df834.jpg?s=152" alt="Eric Ellenbrook">
		<dl>
			<dt class="authorName">Eric Ellenbrook</dt>
			<dd class="authorBio">In his free time Eric enjoys training in Brazilian Jiu-Jitsu, playing with his dogs and, obviously, writing in third person.</dd>
		</dl>

		<h4 class="post-shareHeader">More about me</h4>
		<ul class="aside-list">
			<li><a href="mailto:ericellenbrook@gmail.com" data-no-instant>Email</a></li>
			<li><a href="http://twitter.com/_ellenbrook" data-no-instant>Twitter</a></li>
			<li><a href="https://github.com/ellenbrook/" data-no-instant>GitHub</a></li>
			<li><a href="/assets/eric-ellenbrook-resume.pdf" data-no-instant>Resume</a></li>
		</ul>
	</aside>