<aside class="site-aside">

	<h1 class="site-aside-heading" itemprop="headline">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve" class="h1-logo" preserveAspectRatio="xMidYMin">
			<g><polygon fill="#BF3531" points="134,136 200,136 200,0 0,0 0,200 134,200"/></g>
			<g><polygon fill="#BF7331" points="200,0 200,136 264,136 264,200 400,200 400,0"/></g>
			<g><polygon fill="#1E7073" points="134,266 134,200 100.3,200 0,200 0,300 0,400 100.3,400 400,400 400,266"/></g>
		</svg>
	</h1>

	<nav class="site-aside-nav" itemprop="breadcrumb">
		<ul class="site-aside-nav-list">
			<li class="site-aside-nav-list-item"><a href="/">About</a></li>
			<li class="site-aside-nav-list-item"><a href="/detroit-web-designer-work/">Work</a></li>
			<li class="site-aside-nav-list-item"><a href="/detroit-web-designer-blog/">Blog</a></li>
			<li class="site-aside-nav-list-item"><a href="/detroit-web-designer-resume/">Resume</a></li>
		</ul>
	</nav>
	<nav class="site-aside-social">
		<ul>
			<li><a href="http://codepen.io/{{ site.codepen }}/" rel="nofollow" data-no-instant><i class="fa fa-codepen"></i></a></li>
			<li><a href="http://github.com/{{ site.codepen }}" rel="nofollow" data-no-instant><i class="fa fa-github"></i></a></li>
			<li><a href="http://reddit.com/u/{{ site.reddit }}" rel="nofollow" data-no-instant><i class="fa fa-reddit"></i></a></li>
			<li><a href="http://twitter.com/{{ site.twitter }}" rel="nofollow" data-no-instant><i class="fa fa-twitter"></i></a></li>
		</ul>
	</nav>

</aside>
