.post-share {
	@include span-columns(2);

	.post-shareHeader {
		@extend .authorName;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		
		li{
			border-bottom: 1px solid $textColor;
			@include adjust-font-size-to(.75em);

			&:last-child {
				border-bottom: 1px solid $textColor;
			}
		}
	}
}