.siteHeader {
	@include leader(1.777);
	@include span-columns(12);
	@include omega();

	.siteHeader-logo {
		@include span-columns(7);

		h1.logo { 
			margin-bottom: 0;
			font-family: $logoFont;
			font-weight: 100;
			font-size: modular-scale($base-font-size, 4, $perfect-fourth); 
			word-spacing: -8px;
			letter-spacing: -1px;
			text-transform: lowercase;
			
			@include media($tablet) {
				@include span-columns(3);
				font-size: modular-scale($base-font-size, 2, $perfect-fourth);
				margin-bottom: modular-scale($base-font-size, 2, $perfect-fourth);	
			}
			
			a:hover {
				color: $callToAction;
			}
		}

		h2.logo-subtitle {
			@include adjust-font-size-to(1em);
			margin: .25em 0 0;
			font-size: 1em;
			font-weight: 300;
			font-family: $logoFont;
			color: $textColor;
			text-transform: none;
			text-indent: 35px;
		}
	}

	.siteHeader-nav {
		@include span-columns(5);
		@include omega();

		.siteHeader-navList {
			list-style-type: none;
			margin-top: 1.77em;
		    overflow: hidden;
		    float: right;

			a {
      			font-family: $headingFont;
      		}

			> li {
				display: block;
				margin: 0 1em;
      			float: left;
      			text-transform: uppercase;

				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
	//Header media
	@include media($tablet) {
		@include span-columns(3);


		@include media($mobile) {
			text-align: center;
		}

		.siteHeader-logo {
			@include span-columns(3);
			@include omega();

			h1 {
				font-size: modular-scale($base-font-size, 7, $major-second); 
			}

			h2 {
				display: none;
			}
		}

		.siteHeader-nav {
			@include span-columns(3);
			float: none;
			text-align: center;

			.siteHeader-navList {
				@include span-columns(3);
				margin: 10px 0;
				text-align: center;
				float: none;

				& > li {
					margin: 0;
					width: 25%;
				}
			}
		}
	}
}