.siteFooter {
	@include clearfix;
	@include span-columns(12);
	@include omega();
	padding: 1em 0;
	border-top: 1px solid $textColor;
	overflow: hidden;

	p {
		margin-top: .5em;
		float: left;
	}

	.siteFooter-social {
		float: right;

		.svg {
			height: 40px;
			width: 40px;
			margin: 0;
			padding: 0;
		}
	}

	@include media($mobile) {
		@include span-columns(3);
		text-align: center;

		p {
			float: none;
			margin-top: modular-scale($baseFontSize, -4, $major-second);
		}

		.siteFooter-social {
			float: none;
		}
	}
}

#returnToTop {
	display: none;
	position: fixed;
	bottom: 24px;
	right: 20px;
	height: 40px;
	width: 40px;
}