.post {
	@include span-columns(12);
	@include omega();
	
	p {
		@include adjust-font-size-to(1.33em);
		line-height: 37px;
		margin-bottom: 1.33em;
	}

	img {
		display: block;
		margin: 0 auto;
	}

	li {
		color: $textColor;
		font-size: 1.2em;
	}
	.post-postBody {
		@include span-columns(8);

		p {
			@include adjust-font-size-to(1em);
			&:first-of-type {
				margin: 0;
			}
		}
	}
}