.about-aside {
	@include span-columns(3);

	img {
		border-radius: 50%;
		margin-top: 18px;

		@include media($tablet) {
			@include span-columns(1);	
		}
	}

	.authorName {
		@extend h4;
		@include adjust-font-size-to(1.33em);
	}

	.authorBio {
		color: $textColor;
		@include leader();
		@include adjust-font-size-to(.75em);
	}

	@include media($tablet) {
		@include span-columns(3);
		@include omega();
		border-bottom: 1px solid $textColor;
		margin-bottom: modular-scale($base-font-size, 0, $major-second);
		padding-bottom: modular-scale($base-font-size, 0, $major-second);

		h4 {
			display: none;
		}

		dl {
			@include span-columns(2);
			@include omega();
		}

		ul {
			display: none;
		}

		.authorBio {
			text-align: justify;		
		}
	}
}