.about-aside {
	@include span-columns(3);
	// margin-top: modular-scale($baseFontSize, 2, $major-second);

	img {
		border-radius: 50%;
		margin-top: 18px;
	}

	.authorName {
		color: $callToAction;
		font: $headingFont;
		@include adjust-font-size-to(1.33em);
	}

	.authorBio {
		color: $textColor;
		@include leader(.75);
		@include adjust-font-size-to(.75em);
	}

	ul {
		@include leader(.75);
		list-style-type: none;
		padding-left: 0;
		
		li{
			display: inline-block;
			@include adjust-font-size-to(.75em);
		}

		.fa {
			font-size: 1.25em;
			color: $textColor;
		}
	}

	@include media($tablet) {
		@include span-columns(3);
		@include omega();
		border-bottom: 1px solid $textColor;
		margin-bottom: modular-scale($base-font-size, 0, $major-second);
		padding-bottom: modular-scale($base-font-size, 0, $major-second);

		
		img {
			@include span-columns(1);
			@include media($mobile){
				margin-top: 40px;
			}
		}

		dl {
			@include span-columns(2);
			@include omega();
		}

		ul {
			display: none;
		}

		.authorBio {
			text-align: justify;		
		}
	}
}