html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: 0 0;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  background: #e0e0df;
  font-size: 1em;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "bebas-neue", sans-serif;
  color: #4b4a4b;
  margin: 0;
}

h2 {
  text-indent: 14.22222px;
  border-left: 10px solid #bf3331;
  font-size: 36.49116px;
  line-height: 36.49116px;
}

h3 {
  margin-top: 28.83252px;
  font-family: "museo-sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-size: 22.78125px;
  line-height: 22.78125px;
}

p {
  font-size: 18px;
  font-weight: 100;
  line-height: 28.83252px;
  color: #4b4a4b;
  font-family: "museo-sans", sans-serif;
}
p:first-of-type {
  margin-top: 20.25px;
}

a {
  color: #bf3331;
  text-decoration: none;
}
a:hover {
  color: #4b4a4b;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.highlight {
  color: #4b4a4b;
}

.svg {
  fill: #bf3331;
}
.svg:hover {
  fill: #4b4a4b;
}

.siteHeader {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  margin-top: 2em;
}
.siteHeader:last-child {
  margin-right: 0;
}
.siteHeader .siteHeader-logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  font-family: "museo-sans", sans-serif;
}
.siteHeader .siteHeader-logo:last-child {
  margin-right: 0;
}
.siteHeader .siteHeader-logo h1 {
  margin-bottom: 0;
  font-family: "museo-sans", sans-serif;
  font-size: 51.95714px;
  word-spacing: -10px;
  letter-spacing: -1px;
  text-transform: lowercase;
}
.siteHeader .siteHeader-logo h1 a:hover {
  color: #bf3331;
}
.siteHeader .siteHeader-logo h2 {
  margin-top: 0;
  border: none;
  text-indent: 0;
  font-size: 16px;
  font-family: "museo-sans", sans-serif;
  line-height: .7em;
  letter-spacing: -1px;
  word-spacing: 4px;
  text-transform: uppercase;
}
.siteHeader .siteHeader-nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0;
}
.siteHeader .siteHeader-nav:last-child {
  margin-right: 0;
}
.siteHeader .siteHeader-nav .siteHeader-navList {
  list-style-type: none;
  padding: 0;
  margin: 3.59em 0 0;
  overflow: hidden;
  float: right;
}
.siteHeader .siteHeader-nav .siteHeader-navList a {
  font-size: 18px;
}
.siteHeader .siteHeader-nav .siteHeader-navList > li {
  display: block;
  margin: 0 1em;
  float: left;
  text-transform: uppercase;
}
.siteHeader .siteHeader-nav .siteHeader-navList > li:last-child {
  margin-right: 0px;
}

.butts:after {
  content: "";
  display: table;
  clear: both;
}

.hero {
  width: 100%;
  height: 200px;
  background-image: url("/assets/img/header-image.jpg");
  background-size: cover;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.post {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
}
.post:last-child {
  margin-right: 0;
}
.post p {
  font-size: 20.25px;
  line-height: 36.49116px;
}
.post li {
  color: #4b4a4b;
  font-size: 1.2em;
}
.post .post-postTitle {
  font-size: 36.49116px;
  padding: 0;
}
.post .post-postBody {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
.post .post-postBody:last-child {
  margin-right: 0;
}
.post .post-postBody p {
  font-size: 18px;
  margin-top: 18px;
  line-height: 28.83252px;
}
.post .post-postBody p:first-of-type {
  margin-top: 0;
}

.post-share {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
}
.post-share:last-child {
  margin-right: 0;
}
.post-share .post-shareHeader {
  margin-bottom: 12.64198px;
}
.post-share ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.post-share ul li {
  margin-right: 11.23731px;
  padding: 11.23731px 0;
  font-size: 12.64198px;
  border-top: 1px solid #4b4a4b;
}
.post-share ul li:last-child {
  border-bottom: 1px solid #4b4a4b;
}

.siteFooter {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  padding: 1em 0;
  border-top: 1px solid #4b4a4b;
  overflow: hidden;
}
.siteFooter:after {
  content: "";
  display: table;
  clear: both;
}
.siteFooter:last-child {
  margin-right: 0;
}
.siteFooter p {
  margin-top: 0;
  float: left;
}
.siteFooter .siteFooter-social {
  float: right;
}
.siteFooter .siteFooter-social .svg {
  height: 48px;
  width: 48px;
  margin: 0;
  padding: 0;
}

.about-aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
.about-aside:last-child {
  margin-right: 0;
}
.about-aside img {
  border-radius: 50%;
}
.about-aside .authorName, .about-aside .post-share .post-shareHeader, .post-share .about-aside .post-shareHeader {
  font-family: "bebas-neue", sans-serif;
  color: #bf3331;
  font-size: 25.62891px;
  margin-bottom: 18px;
}
.about-aside .authorBio {
  font-size: 14.22222px;
  line-height: 22.78125px;
  color: #4b4a4b;
  font-style: italic;
  margin: 0;
}
.about-aside ul {
  list-style-type: none;
  padding-left: 0;
}
.about-aside ul li {
  display: inline-block;
  margin-right: 12.64198px;
  padding: 8.87886px 0;
  font-size: 16px;
}
.about-aside ul .fa {
  font-size: 1.25em;
  color: #4b4a4b;
}

.about-section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-right: 0;
}
.about-section:last-child {
  margin-right: 0;
}

.blogList, .workList {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #4b4a4b;
  cursor: pointer;
}
.blogList:hover .blogList-title, .workList:hover .blogList-title, .blogList:hover .blogList-subTitle, .workList:hover .blogList-subTitle {
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-left: 10px;
}
.blogList:hover .blogList-title a, .workList:hover .blogList-title a, .blogList:hover .blogList-subTitle a, .workList:hover .blogList-subTitle a {
  color: #4b4a4b;
}
.blogList .blogList-title, .workList .blogList-title {
  float: left;
  margin: 12.64198px 0;
  padding: 0;
  border: none;
  text-indent: 0;
  -webkit-transition: margin-left 0.3s ease-out;
  -moz-transition: margin-left 0.3s ease-out;
  transition: margin-left 0.3s ease-out;
}
.blogList .blogList-subTitle, .workList .blogList-subTitle {
  clear: left;
  float: left;
  margin: 0;
  font-size: 16px;
  -webkit-transition: margin-left 0.3s ease-out;
  -moz-transition: margin-left 0.3s ease-out;
  transition: margin-left 0.3s ease-out;
}
.blogList .svg, .workList .svg {
  width: 50px;
  margin: 25px 0;
  float: right;
  fill: #4b4a4b;
}
.blogList .svg:hover, .workList .svg:hover {
  fill: #bf3331;
}

.workList {
  cursor: default;
}
.workList .workList-left {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}
.workList .workList-left:last-child {
  margin-right: 0;
}
.workList .workList-left .workList-title {
  text-indent: 0;
  border: 0;
  color: #bf3331;
  margin-top: 18px;
}
.workList .workList-left .workList-subTitle {
  margin: 0;
  font-family: "bebas-neue", sans-serif;
  font-size: 22.78125px;
  line-height: 32.43658px;
}
.workList .workList-left .workList-desc {
  margin-top: 0;
}
.workList .workList-right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  text-align: right;
}
.workList .workList-right:last-child {
  margin-right: 0;
}
.workList .workList-right .workList-container-inner {
  position: relative;
  width: 300px;
  float: right;
  overflow: hidden;
}
.workList .workList-right .workList-container-inner:hover .workList-container-slider {
  left: 0;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.workList .workList-right .workList-container-inner .workList-container-slider {
  position: absolute;
  left: -300px;
  top: 0;
  width: 300px;
  height: 200px;
  background-color: #bf3331;
  color: #e0e0df;
  font-size: 25.62891px;
  text-align: center;
  padding-top: 75px;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  cursor: pointer;
}
