{% include header.html %}


	{% include sidebar.html %}


	<section class="site-content" itemscope itemType="http://schema.org/BlogPosting">

		<meta itemprop="inLanguage" content="en-US"/>
		<meta itemprop="datePublished" content="{{ page.time }}"/>		

		<header class="site-content-article-header">
			<h2 itemprop="headline">{{ page.link-title }}</h2>
		</header>

		<article class="site-content-article" itemprop="articleBody">		
			{{ content }}

			<p>{{ page.link-title }} makes use of 
				{% for tag in page.tags %}<span class="site-content-tag">{{ tag }}</span>{% endfor %}.
			</p>
		</article>

		<div class="computer-wrapper">
			<img src="/assets/img/{{page.img}}/{{page.img}}-1.jpg" data-id="1" data-name="{{ page.img }}" alt="Screen shot of Morning Pages" class="computer-underlay">
			<img src="/assets/img/computer-screen.png" class="computer-screen">
		</div>

		<div class="image-swapper-thumbs">
			<img src="/assets/img/{{page.img}}/{{page.img}}-1.jpg" data-id="1" alt="Screen shot of Morning Pages" class="thumbnail">
			<img src="/assets/img/{{page.img}}/{{page.img}}-2.jpg" data-id="2" alt="Screen shot of Morning Pages" class="thumbnail">
			<img src="/assets/img/{{page.img}}/{{page.img}}-3.jpg" data-id="3" alt="Screen shot of Morning Pages" class="thumbnail">
		</div>
	</section>

{% include footer.html %}