---
layout: default
title: Detroit Web Design and SEO portfolio - Eric Ellenbrook
sites: Fuse Martial Arts, Morning Pages, 24 Grille
type: work
link-title: Web Development Work
description: Eric Ellenbrook will make you more money. He helps Detroit-based business find their home on the web. Contact me today.
--- 
<ul class="site-content-list">
{% for page in site.pages reversed %}
	{% if page.type == 'example' %}	
	<li class="site-content-list-item">
		<div class="work-image-aside"><img src="/assets/img/{{ page.img }}.jpg" alt="{{ page.link-title }}"></div>
		<h3><a href="/detroit-web-designer-work/{{ page.img }}/" title="{{ page.title }}">{{ page.link-title }}</a></h3>
		<p>{{ page.meta }}</p>
		<p><a href="/detroit-web-designer-work/{{ page.img }}/" title="{{ page.title }}">View project</a></p>
	</li>
	{% endif %}
{% endfor %}
</ul>